<div class="row mt-5">

    <div class="card mb-3" *ngFor="let offre of offres">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{offre.Image}}" width="350" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{offre.Name | uppercase}} </h5>
                    <p class="card-text">Cylinders: {{offre.Cylinders}}</p>
                    <p class="card-text">Year: {{offre.Year}}</p>
                    <p class="card-text">Origine: {{offre.Origin}}</p>
                    <button type="button" class="btn btn-primary">Voir plus</button>

                </div>
            </div>
        </div>
    </div>
</div>